<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    {{>header2}}
    <!-- Single Product Details -->
    <div class="small-container single-product">

        <div class="row">
            <div class="col-2">
                <img src="images/gallery-1.jpg" width="100%" id="ProductImg"> 
                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="images/gallery-1.jpg" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="images/gallery-2.jpg" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="images/gallery-3.jpg" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="images/gallery-4.jpg" width="100%" class="small-img">
                    </div>
                </div>
            </div>

            <div class="col-2">
                <p>Home / T-Shirt</p>
                <h1>Red Printed T-Shirt by PUMA</h1>
                <h4>$18.00</h4>
                <select>
                    <option>Select Size</option>
                    <option>XXL</option>
                    <option>XL</option>
                    <option>L</option>
                    <option>M</option>
                    <option>S</option>
                </select>
                <a href="/products" class="btn">Add To Cart</a>
                <h3>Product Details <i class="fa fa-indent" aria-hidden="true"></i></h3>
                <br>
                <p>Give your summer wardrobe a style with the PUMA men's Active T-Shirt. Team it with a pair of shorts for your morning workout or a denims for an evening our with the guys.</p>
            </div>
        </div>
    </div>
    <!-- title  -->
    <div class="small-container">
        <div class="row row2">
            <h2>Related Products</h2>
            <a href="/products">View All</a>
        </div>
    </div>
    <!-- products  -->
    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <img src="images/pumatshirt.jpg">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$18.00</p>
            </div>
            <div class="col-4">
                <img src="images/blackshoes.jpg">
                <h4>HRX Comfort Sports Shoes</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$16.00</p>
            </div>
            <div class="col-4">
                <img src="images/greytrackpants.jpg">
                <h4>Benetton stylish Trackpants</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <p>$19.00</p>
            </div>
            <div class="col-4">
                <img src="images/bluetshirt.jpg">
                <h4>Blue PUMA T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <p>$14.00</p>
            </div>
        </div>
    </div>

    <!-- footer  -->
    {{>footer}}
    <script src="js/main.js"></script>
    <script src="js/index.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>