<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>All Products</title>
</head>
<body>
    {{>header2}}
    <h3 class="products-h">All Products</h3>
    <div class="gallery">
        <div class="image">
            <img src="../images/greytshirt.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </h3>
            <h3>Grey T-Shirt</h3>
            <h3>$15,00</h3>
            <a class="add-cart cart1" href="#">Add to Cart</a>
            <input type="hidden" value="15"/>
        </div>
        <div class="image">
            <img src="../images/greyhoddie.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
            </h3>
            <h3>Grey Hoddie</h3>
            <h3>$20,00</h3>
            <a class="add-cart cart2" href="#">Add to Cart</a>
            <input type="hidden" value="20"/>
        </div>
        <div class="image">
            <img src="../images/blacktshirt.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
            </h3>
            <h3>Black Tshirt</h3>
            <h3>$10,00</h3>
            <a class="add-cart cart3" href="#">Add to Cart</a>
            <input type="hidden" value="10"/>
        </div>
        <div class="image">
            <img src="../images/blackhoddie.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
            </h3>
            <h3>Black Hoodie</h3>
            <h3>$25,00</h3>
            <a class="add-cart cart4" href="#">Add to Cart</a>
            <input type="hidden" value="25"/>
        </div>
        <div class="image">
            <img src="../images/blackshoes.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </h3>
            <h3>HRX Comfort Shoes</h3>
            <h3>$16,00</h3>
            <a class="add-cart cart5" href="#">Add to Cart</a>
            <input type="hidden" value="16"/>
        </div>
        <div class="image">
            <img src="../images/pumatshirt.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
            </h3>
            <h3>Red PUMA T-Shirt</h3>
            <h3>$18,00</h3>
            <a class="add-cart cart5" href="#">Add to Cart</a>
            <input type="hidden" value="18"/>
        </div>
        <div class="image">
            <img src="../images/blackredshoes.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </h3>
            <h3>X-Run Sports Shoes</h3>
            <h3>$23,00</h3>
            <a class="add-cart cart5" href="#">Add to Cart</a>
            <input type="hidden" value="23"/>
        </div>
        <div class="image">
            <img src="../images/bluetshirt.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
            </h3>
            <h3>PUMA Black T-Shirt</h3>
            <h3>$19,00</h3>
            <a class="add-cart cart5" href="#">Add to Cart</a>
            <input type="hidden" value="19"/>
        </div>
        <div class="image">
            <img src="../images/fossilwatch.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
            </h3>
            <h3>Fossil Black Watch</h3>
            <h3>$28,00</h3>
            <a class="add-cart cart5" href="#">Add to Cart</a>
            <input type="hidden" value="28"/>
        </div>
        <div class="image">
            <img src="../images/greyshoes.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </h3>
            <h3>Nike Grey Shoes</h3>
            <h3>$18,00</h3>
            <a class="add-cart cart5" href="#">Add to Cart</a>
            <input type="hidden" value="18"/>
        </div>
        <div class="image">
            <img src="../images/greytrackpants.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
            </h3>
            <h3>Benetton Grey Trackpants</h3>
            <h3>$19,00</h3>
            <a class="add-cart cart5" href="#">Add to Cart</a>
            <input type="hidden" value="19"/>
        </div>
        <div class="image">
            <img src="../images/lightgreyshoes.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
            </h3>
            <h3>LightGrey Shoes</h3>
            <h3>$21,00</h3>
            <a class="add-cart cart5" href="#">Add to Cart</a>
            <input type="hidden" value="21"/>
        </div>
        <div class="image">
            <img src="../images/nikelowers.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </h3>
            <h3>Nike Black Lowers</h3>
            <h3>$23,00</h3>
            <a class="add-cart cart5" href="#">Add to Cart</a>
            <input type="hidden" value="23"/>
        </div>
        <div class="image">
            <img src="../images/pumablacktshirt.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-half"></ion-icon>
            </h3>
            <h3>PUMA Black T-Shirt</h3>
            <h3>$19,00</h3>
            <a class="add-cart cart5" href="#">Add to Cart</a>
            <input type="hidden" value="19"/>
        </div>
        <div class="image">
            <img src="../images/roadsterwatch.jpg" alt="thsirt1">
            <h3> 
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
            </h3>
            <h3>Roadster Wrist Watch</h3>
            <h3>$26,00</h3>
            <a class="add-cart cart5" href="#">Add to Cart</a>
            <input type="hidden" value="26"/>
        </div>
        <div class="image">
            <img src="../images/socksset.jpg" alt="thsirt1">
            <h3> 
               <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
            </h3>
            <h3>HRX Socks (Pack of 3)</h3>
            <h3>$22,00</h3>
            <a class="add-cart cart5" href="#">Add to Cart</a>
            <input type="hidden" value="22"/>
        </div>
    </div>
    <div class="page-btn">
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>&#8594</span>
        </div>
    {{>footer}}
    <script src="js/main.js"></script>
    <script src="js/index.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>
</html>